.container {
    margin-top: 10px;
    border:1px solid gray;
    width:1700px;
    margin-bottom: 10px;
}
.subContainer {
    border:1px solid gray;
    width:100%;
    height: 650px; 
    margin-bottom: 20px;
}
