.container {
    margin-top: 10px;
    border:1px solid gray;
    width:1700px;
    margin-bottom: 10px;
}
.subContainer {
    border:1px solid gray;
    width:100%;
    height: 650px; 
    margin-bottom: 20px;
}

/* 3D Scatter Plot */
.controlPanel {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size:24px;
    /* margin-left: 20%; */
    /* margin-right: 20%; */
}
